/* css reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p{
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    list-style: none
}

li{
    list-style: none;
}

html{
    font-family: Poppins;
    background: #0b0f31;
    color:white;
}
.wrapper{
    display: flex;
}

/* ASIDE PART / LEFT */
.aside-container{
    display: flex;
    background: #0b0f31;
    min-height: 100vh;
    flex: 1 1 40rem;
    flex-direction: column;
    
}

.info-container{
    display: flex;
    flex-direction: column;
    padding-top: 34%;
    padding-left: 20%;
    
}

.nav-links{
    padding-top: 20%;
}
.nav-links p{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-bottom: 6%;
}

.logo{
    width: 20rem;
    position: relative;
    top: 8px;
    margin-right:1px;
}
.p1{
    color: white;
}

.p2{
    color: rgba(255, 255, 255, 0.4);
}

.p3{
    color: rgba(255, 255, 255, 0.4);
}

.aside-container img{
    height: 110px;
    width: 110px;
    border-radius: 1.3rem;
}

.username{
    font-size: 32px;
    font-weight: 600;
    padding-top: 2%;
    color: white;
}

.email{
    font-size: 16px;
    font-weight: regular;
    color: rgba(255, 255, 255, 0.5);
}

/* CONTENT PART / RIGHT */
/* .content-container{
    flex: 1 1 130rem;
    background-color: #f8f8f8;
    height: 93vh;
    color: black;
    align-self: center;
    margin: 0 1.7rem 0 0;
    border-radius: 3rem;

    
    padding: 2rem;
    overflow-y: auto;
    scrollbar-width: none;
    
    
} */




/* .grid-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 3fr 2.5fr 2.5fr;
 
    
    grid-template-areas:
    "header header header header"
    "top1 top2 top3 top4"
    "chart1 chart1 chart2 chart2"
    "chart1 chart1 chart2 chart2"
    ;
    gap: 1rem;
} */
/* .card{
    border-radius: 1rem;
    background: white;
    border: 1px solid #eeefef;
    transition: 0.3s;
  
} */
.card:hover {
   
   
  }
/* .card-1{
    background: white;
    grid-area: top1;
} */

/* .card-2{
    background: white;
    grid-area: top2;
}

.card-3{
    background: white;
    grid-area: top3;
}

.card-4{
    background: white;
    grid-area: top4;
} */

/* .card-5{
    background: white;
    grid-area: chart1;
    
}

.card-6{
    background: white;
    grid-area: chart2;
}

.card-7{
    background: white;
    width: 100%;
    margin-top: 1rem;
    height: 30rem;
}

.header{
    grid-area: header;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 10px;
    color: #262A41;
} */

.backBtRoot{
    
   
    margin-right: 10px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 30px;
    width: 25px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
 
}
.forwardBtRoot{
    
  position: absolute;
  left: -12px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  width: 25px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-left: 10px;
}

.forwardBtRoot:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.forwardBtRoot:hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}

.forwardBtRoot:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(2px);
}

.backBtRoot:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.backBtRoot:hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}

.backBtRoot:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(2px);
}
